{% layout none %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Fursome Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="">
    <meta name="description" content="">

    <script src="{{ 'animations.min.js' | asset_url }}" defer="defer"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    >

    <style>
      :root {
      	--font-heading-family: 'Fredoka', sans-serif;
      	--font-heading-weight: 400;

      	--font-body-family: 'Lato', sans-serif;
      	--font-body-weight: normal;

      	--base-font-size: 1.5rem;
      	--html-font-size: 100%;
      }
    </style>

    <link rel="preload" href="{{ 'lp-base.min.css' | asset_url }}" as="style">
    <link rel="stylesheet" href="{{ 'lp-base.min.css' | asset_url }}">
  </head>
  <body>
    <div class="visually-hidden">
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="star-fill" viewBox="0 0 24 23">
        	<path d="m11.1265 1.08844c.2109-.65397 1.1361-.653968 1.347 0l2.2503 6.97747c.0945.29288.3674.49115.6751.49048l7.3313-.01603c.6872-.0015.9731.87846.4163 1.28114l-5.9406 4.2963c-.2494.1803-.3536.5011-.2579.7936l2.2808 6.9676c.2137.653-.5348 1.1968-1.0898.7917l-5.9218-4.3222c-.2485-.1814-.5859-.1814-.8344 0l-5.92179 4.3222c-.55501.4051-1.30356-.1387-1.08979-.7917l2.28075-6.9676c.09573-.2925-.0085-.6133-.25786-.7936l-5.940601-4.29631c-.556785-.40267-.270866-1.28263.416267-1.28113l7.331344.01603c.30773.00067.58062-.1976.67508-.49048z" fill="#fa7260"/>
        </symbol>
        <symbol id="star-solid" viewBox="0 0 24 23">
        	<path d="m1.5473 9.61654-.29301.40516.29301-.40516c-.1634-.11817-.0795-.37642.12216-.37598l7.33135.01602c.52515.00115.99085-.3372 1.15199-.837l2.2503-6.97748c.0619-.19192.3335-.19192.3953 0l.4759-.15347-.4759.15347 2.2503 6.97748c.1612.4998.6269.83815 1.1521.837l7.3313-.01602c.2017-.00044.2856.2578.1222.37598l-5.9406 4.29626c-.4256.3078-.6034.8552-.4401 1.3543l2.2808 6.9676c.0627.1917-.157.3513-.3199.2324l-5.9217-4.3222c-.4242-.3096-.9998-.3096-1.424 0l-5.92178 4.3222c-.16289.1189-.38257-.0407-.31983-.2324l2.28075-6.9676c.16337-.4991-.01451-1.0465-.44004-1.3543z" fill="#e4eeef" stroke="#fa7260"/>
        </symbol>
        <symbol id="hart" viewBox="0 0 56 79">
        	<path d="m48.2947 20.9465c-2.8128 10.0129-8.1647 19.3893-13.1222 28.4451-2.2496 4.1094-4.5393 8.198-6.8422 12.2791-8.0471-10.2005-14.8938-21.4022-20.08358-33.3466-1.38977-3.1987-2.73885-6.7814-1.65693-10.2767.08437-.2712.43218-.7995.66306-1.2179.43218.0112.98796-.0105 1.25732.0672 1.81303.5223 3.31603 1.7895 4.42983 3.2884 2.0454 2.7511 2.8972 6.2711 3.908 9.4959 1.261 4.0228 2.5221 8.0463 3.7831 12.0692.4403 1.4039 5.8077-2.3806 6.1503-3.2884 3.6113-9.5683 8.3467-18.6369 14.21-26.9963 1.2972-1.84852 2.6426-3.66566 4.045-5.43497.612-.77184 1.2543-2.0002 2.1631-2.02858 1.0678-.03363 1.7694 1.31727 2.0661 2.14888 1.5711 4.39787.2405 10.48367-.9709 14.79567zm4.2596-20.8694965c-3.2643-.5715865-7.2278 2.1615865-9.5767 4.1371265-3.0866 2.59645-5.4599 6.20977-7.7644 9.49437-3.9961 5.698-7.4779 11.7449-10.4595 18.0369-.797-2.5516-1.5955-5.1025-2.4043-7.6511-1.1855-3.7404-2.4902-7.7796-5.9439-10.0137-6.0253-3.8973-15.3637 1.584-16.3057509 8.4245-.5816601 4.2268 1.4971009 8.3452 3.2132209 12.0512 1.90187 4.1065 3.98353 8.1248 6.23913 12.0445 4.395 7.6399 9.4568 14.8562 15.0677 21.6316-1.8819 3.316-3.7653 6.632-5.6397 9.951-.7312 1.2941 1.1633.715 1.7538.5028 1.2788-.4603 3.3072-1.4779 4.0236-2.7459 1.4771-2.6151 2.9586-5.2273 4.4401-7.8394 1.4453-.9429 2.6522-2.1175 2.3141-2.5202-.1769-.21-.3494-.4244-.5262-.6366 3.0074-5.3065 6.0061-10.6189 8.9551-15.9583 4.6251-8.3766 9.3413-16.8982 12.7794-25.8568 1.7036-4.4375 3.009-9.0947 3.2111-13.87438.1265-2.9947.4765-8.503659-3.3768-9.1776165z" fill="#eaa24b"/>
        </symbol>
        <symbol id="car" viewBox="0 0 56 56">
        	<g stroke="#eaa24b" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" fill="none"><path d="m35.0013 4.66699v23.33331c0 2.5667-2.1 4.6667-4.6667 4.6667h-25.66663v-18.6667c0-5.15664 4.17667-9.33331 9.33333-9.33331z"/><path d="m51.3346 32.667v7c0 3.8733-3.1266 7-7 7h-2.3333c0-2.5667-2.1-4.6667-4.6667-4.6667-2.5666 0-4.6666 2.1-4.6666 4.6667h-9.3334c0-2.5667-2.1-4.6667-4.6666-4.6667-2.5667 0-4.6667 2.1-4.6667 4.6667h-2.3333c-3.87336 0-7.00003-3.1267-7.00003-7v-7h25.66663c2.5667 0 4.6667-2.1 4.6667-4.6667v-16.3333h4.2933c1.68 0 3.22.91 4.06 2.3567l3.9901 6.9766h-3.0101c-1.2833 0-2.3333 1.05-2.3333 2.3334v7c0 1.2833 1.05 2.3333 2.3333 2.3333z"/><path d="m18.6667 51.3333c2.5773 0 4.6666-2.0893 4.6666-4.6666 0-2.5774-2.0893-4.6667-4.6666-4.6667-2.5774 0-4.6667 2.0893-4.6667 4.6667 0 2.5773 2.0893 4.6666 4.6667 4.6666z"/><path d="m37.3346 51.3333c2.5774 0 4.6667-2.0893 4.6667-4.6666 0-2.5774-2.0893-4.6667-4.6667-4.6667-2.5773 0-4.6666 2.0893-4.6666 4.6667 0 2.5773 2.0893 4.6666 4.6666 4.6666z"/><path d="m51.3333 28v4.6667h-7c-1.2833 0-2.3333-1.05-2.3333-2.3334v-7c0-1.2833 1.05-2.3333 2.3333-2.3333h3.0101z"/></g>
        </symbol>
        <symbol id="messages" viewBox="0 0 57 56">
        	<g stroke="#eaa24b" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" fill="none"><path d="m42.4547 25.1767v9.3333c0 .6067-.0234 1.19-.0934 1.75-.5367 6.3-4.2467 9.4266-11.0833 9.4266h-.9333c-.5834 0-1.1434.2801-1.4934.7467l-2.8 3.7334c-1.2366 1.6566-3.2433 1.6566-4.48 0l-2.8-3.7334c-.3034-.3966-.98-.7467-1.4933-.7467h-.9333c-7.44338 0-11.17673-1.8432-11.17673-11.1766v-9.3333c0-6.8367 3.15002-10.5467 9.42673-11.0833.56-.07 1.1433-.0934 1.75-.0934h14.9333c7.4433 0 11.1767 3.7334 11.1767 11.1767z" stroke-miterlimit="10"/><path d="m51.7871 15.8437v9.3333c0 6.86-3.15 10.5467-9.4267 11.0833.07-.56.0934-1.1433.0934-1.75v-9.3333c0-7.4433-3.7334-11.1767-11.1767-11.1767h-14.9333c-.6067 0-1.19.0234-1.75.0934.5366-6.27669 4.2466-9.42671 11.0833-9.42671h14.9333c7.4433 0 11.1767 3.73336 11.1767 11.17671z" stroke-miterlimit="10"/><path d="m31.9882 30.9167h.021"/><path d="m23.8241 30.9167h.021"/><path d="m15.6562 30.9167h.021"/></g>
        </symbol>
        <symbol id="wallet" viewBox="0 0 57 56">
        	<g stroke="#eaa24b" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" fill="none"><path d="m25.5857 39.3408v4.7368c0 4.0133-3.7333 7.2566-8.33 7.2566-4.5966 0-8.35336-3.2433-8.35336-7.2566v-4.7368c0 4.0134 3.73336 6.86 8.35336 6.86 4.5967 0 8.33-2.87 8.33-6.86z"/><path d="m25.5816 32.9237c0 1.1667-.3267 2.24-.8867 3.1733-1.3766 2.2633-4.2 3.6867-7.4667 3.6867-3.2666 0-6.09-1.4467-7.46666-3.6867-.56-.9333-.88654-2.0066-.88654-3.1733 0-2.0067.93328-3.8033 2.4266-5.11 1.5167-1.33 3.5933-2.1233 5.9033-2.1233s4.3867.8166 5.9034 2.1233c1.54 1.2833 2.4733 3.1033 2.4733 5.11z"/><path d="m25.5857 32.9236v6.4167c0 4.0133-3.7333 6.86-8.33 6.86-4.5966 0-8.35336-2.87-8.35336-6.86v-6.4167c0-4.0133 3.73336-7.2566 8.35336-7.2566 2.31 0 4.3868.8166 5.9034 2.1233 1.4934 1.3066 2.4266 3.1267 2.4266 5.1333z"/><path d="m51.8351 25.5967v4.8068c0 1.2833-1.0266 2.3332-2.3333 2.3799h-4.5734c-2.52 0-4.8299-1.8433-5.0399-4.3633-.14-1.47.4199-2.8467 1.3999-3.8034.8634-.8866 2.0534-1.3999 3.36-1.3999h4.8534c1.3067.0467 2.3333 1.0966 2.3333 2.3799z"/><path d="m5.16797 24.5003v-4.6666c0-6.3467 3.82667-10.78005 9.77663-11.52671.6067-.09334 1.2367-.14 1.89-.14h21c.6067 0 1.19.02331 1.75.11664 6.02.7 9.9167 5.15667 9.9167 11.55007v3.3833h-4.8534c-1.3066 0-2.4966.5133-3.36 1.4-.98.9566-1.5399 2.3333-1.3999 3.8033.21 2.52 2.5199 4.3633 5.0399 4.3633h4.5734v3.3834c0 7-4.6667 11.6667-11.6667 11.6667h-5.8333"/></g>
        </symbol>
        <symbol id="dd-arrow" viewBox="0 0 36 36">
        	<path d="m6.11891 13.4241 9.77999 9.78c1.155 1.155 3.045 1.155 4.2 0l9.78-9.78" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" fill="none"/>
        </symbol>
      </svg>
    </div>
    <div class="main-layout">
      <div class="main-layout__content">
        <header class="is-header"></header>

        <section>
          <link
            href="{{ 'lp-hero-component.min.css' | asset_url }}"
            rel="preload"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
          >
          <noscript><link rel="stylesheet" href="{{ 'lp-hero-component.min.css' | asset_url }}"></noscript>
          <div class="is-hero">
            <div class="is-hero__container max-wrapper">
              <div class="wrapper">
                <section class="is-hero__content">
                  <section class="is-hero__rating">
                    <div class="rating">
                      <div class="rating__star">
                        <svg width="24" height="23" class="responsive-svg">
                          <use xlink:href="#star-fill"></use>
                        </svg>
                      </div>
                      <div class="rating__star">
                        <svg width="24" height="23" class="responsive-svg">
                          <use xlink:href="#star-fill"></use>
                        </svg>
                      </div>
                      <div class="rating__star">
                        <svg width="24" height="23" class="responsive-svg">
                          <use xlink:href="#star-fill"></use>
                        </svg>
                      </div>
                      <div class="rating__star">
                        <svg width="24" height="23" class="responsive-svg">
                          <use xlink:href="#star-fill"></use>
                        </svg>
                      </div>
                      <div class="rating__star">
                        <svg width="24" height="23" class="responsive-svg">
                          <use xlink:href="#star-fill"></use>
                        </svg>
                      </div>
                    </div>
                    <span class="is-hero__rating-label">Rated 4.8 from over 1,000 reviews</span>
                  </section>
                  <h2 class="is-hero__heading heading h2">
                    Keep your pup healthy and happy for longer
                    <span class="accent">fursome allergy & immune bites</span>
                  </h2>
                  <p class="is-hero__title">
                    Specially formulated to support your dog's immune system for a longer, healthier life!
                  </p>

                  <section class="is-hero__img-box scroll-trigger animate--slide-in">
                    <picture class="responsive-img is-hero__bg-img">
                      <source
                        srcset="{{ 'tpl_01-desktop.png' | asset_url }} 1x, {{ 'tpl_01-desktop@2x.png' | asset_url }} 2x, {{ 'tpl_01-desktop@3x.png' | asset_url }} 3x"
                        media="(min-width: 1281px)"
                      >
                      <source
                        srcset="{{ 'tpl_01-tablet.png' | asset_url }} 1x, {{ 'tpl_01-tablet@2x.png' | asset_url }} 2x, {{ 'tpl_01-tablet@3x.png' | asset_url }} 3x"
                        media="(min-width: 576px)"
                      >
                      <source
                        srcset="{{ 'tpl_01-mobile.png' | asset_url }} 1x, {{ 'tpl_01-mobile@2x.png' | asset_url }} 2x, {{ 'tpl_01-mobile@3x.png' | asset_url }} 3x"
                        media="(min-width: 1px)"
                      >
                      <img
                        class="responsive-img"
                        fetchpriority="low"
                        decoding="async"
                        width="993"
                        height="821"
                        src=""
                        alt=""
                      >
                    </picture>
                    <img
                      class="responsive-img is-hero__product-img"
                      fetchpriority="low"
                      decoding="async"
                      width="315"
                      height="346"
                      src="{{ 'product_01-desktop.png' | asset_url }}"
                      alt=""
                    >
                  </section>

                  <section class="is-hero__promo-box hero-promo-box">
                    <p class="hero-promo-box__heading">A special promotion has been activated for you!</p>
                    <div class="hero-promo-box__row">
                      <p class="hero-promo-box__text paragraph">2+1 Buy 2, get 1 FREE!</p>
                      <p class="hero-promo-box__text paragraph">3+2 Buy 3, get 2 FREE!</p>
                    </div>
                  </section>

                  <div class="is-hero__btn-row">
                    <a href="#" class="is-button is-button--primary">
                      <span class="is-button__text">Order Now</span>
                    </a>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>

        <section class="is-section scroll-trigger animate--slide-in">
          <link rel="stylesheet" href="{{ 'lp-image-with-text-component.min.css' | asset_url }}">

          <div class="wrapper">
            <div class="image-with-text clearfix">
              <picture class="responsive-img right">
                <source
                  srcset="{{ 'tpl_02-desktop.jpg' | asset_url }}"
                  media="(min-width: 1281px)"
                >
                <source
                  srcset="{{ 'tpl_02-tablet.jpg' | asset_url }}"
                  media="(min-width: 576px)"
                >
                <source
                  srcset="{{ 'tpl_02-mobile.jpg' | asset_url }}"
                  media="(min-width: 1px)"
                >
                <img
                  class="responsive-img"
                  fetchpriority="low"
                  decoding="async"
                  width="522"
                  height="680"
                  src=""
                  alt=""
                >
              </picture>
              <h2 class="heading section-heading">Why does your pup need allergy & immune bites?</h2>
              <p class="paragraph">
                Just like humans, dogs can suffer from a variety of allergy-related issues, impacting their quality of
                life significantly. In fact, studies show that up to 60% of dogs suffer from some form of allergy. This
                can be particularly challenging for pet owners, as dogs cannot communicate their discomfort and symptoms
                as humans can.
              </p>
              <p class="paragraph paragraph--bold">
                Fursome Allergy & Immune Bites are expertly crafted to address these common concerns:
              </p>
              <p class="paragraph">
                - Allergy-related itching, discomfort, and skin issues <br>
                - Costly vet visits for allergy treatments <br>
                - Frequent digestive problems and food sensitivities <br>
                - Uncertainty about how to support a dog's immune system <br>
                - Susceptibility to illnesses and infections <br>
                - Desire for a holistic solution for dog's overall health
              </p>
            </div>
          </div>
        </section>

        <section class="is-section is-banner is-banner--a scroll-trigger animate--slide-in">
          <div class="max-wrapper">
            <div class="wrapper">
              <p class="is-banner__heading heading">
                Fursome allergy & immune bites deliver the essential Vitamins, Amino Acids, Omega-3, and Antioxidants to
                support a healthy immune system and soothe allergy symptoms
              </p>
            </div>
            <img
              src=""
              srcset="{{ 'bites-a.png' | asset_url }} 100w"
              sizes="(min-width: 1px) 100px"
              class="responsive-img is-banner__icon-left"
              fetchpriority="low"
              decoding="async"
              width="102"
              height="128"
              alt=""
            >
          </div>
        </section>
      </div>
      <div class="main-layout__footer">
        <div class="is-footer" style="height: 467px;background: #250045;"></div>
      </div>
    </div>

    <script src="{{ 'accordion.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
